{{ define "main" }}		<!-- Wrapper -->
		<div class="wrapper style1 align-left" >

			<!-- Banner -->
			<div class="inner">
				<h1>Jerry's Desk Diary</h1>
				<span class="image right"><img src="/img/journal-0464.jpg" alt="" /></span>
				<p>One of our family's most bittersweet memories is Papa asking, pen and diary in hand, "What did we do today?" It used to drive us crazy hearing this almost every day, but now his collection of annual journals from from early 1964 onward is a treasured family heirloom. Jerry captured even the most mundane details of daily life, providing a fascinating glimpse into the past.<p>
				<p>Jerry meticulously kept a journal from December 1963 until the last few years of his life. Please take a peek at this fascinating record.</p>
			</div>


			<div class="inner">
				<header>
					<h3>Journal Pages by Year</h3>
				</header>
				<div class = "content items style3 small">
					<section>
						<ul class="alt">
							<li><a href="/journal/1963.12.26-to-12.29">1963</a></li>
							<li><a href="/journal/1964.1.6-to-1.12">1964</a></li>
							<!--
							<li><a>1965</a></li>
							<li><a>1966</a></li>
							<li><a>1967</a></li>
							<li><a>1968</a></li>
							<li><a>1969</a></li>
						-->
						</ul>

					</section>
					<section>
						<ul class="alt">
							<li><a>1970</a></li>
							<li><a>1971</a></li>
							<li><a>1972</a></li>
							<li><a>1973</a></li>
							<li><a>1974</a></li>
							<li><a>1975</a></li>
							<li><a>1976</a></li>
							<li><a>1977</a></li>
							<li><a>1978</a></li>
							<li><a>1979</a></li>
						</ul>
					</section>
					<section>
						<ul class="alt">
							<li><a>1980</a></li>
							<li><a>1981</a></li>
							<li><a>1982</a></li>
							<li><a>1983</a></li>
							<li><a>1984</a></li>
							<li><a>1985</a></li>
							<li><a>1986</a></li>
							<li><a>1987</a></li>
							<li><a>1988</a></li>
							<li><a>1989</a></li>
						</ul>
					</section>
					<section>
						<ul class="alt">
							<li><a>1990</a></li>
							<li><a>1991</a></li>
							<li><a>1992</a></li>
							<li><a>1993</a></li>
							<li><a>1994</a></li>
							<li><a>1995</a></li>
							<li><a>1996</a></li>
							<li><a>1997</a></li>
							<li><a>1998</a></li>
							<li><a>1999</a></li>
						</ul>
					</section>
					<section>
						<ul class="alt">
							<li><a>2000</a></li>
							<li><a>2001</a></li>
							<li><a>2002</a></li>
							<li><a>2003</a></li>
							<li><a>2004</a></li>
							<li><a>2005</a></li>
							<li><a>2006</a></li>
							<li><a>2007</a></li>
							<li><a>2008</a></li>
							<li><a>2009</a></li>
						</ul>
					</section>
					<section>
						<ul class="alt">
							<li><a>2010</a></li>
							<li><a>2011</a></li>
							<li><a>2012</a></li>
							<li><a>2013</a></li>
							<li><a>2014</a></li>
							<li><a>2015</a></li>
							<li><a>2016</a></li>
							<li><a>2017</a></li>
						</ul>
					</section>

				</div>
		  </div>
		</div>
{{ end }}
