<div class="banner style1 orient-left onload-image-fade-in" >
  <div class="content">
    <h2>{{.Title}}</h2>
    <p>{{.Content}}</p>
    <div class="inner">
      <div class="items style3 medium`">
        {{ range .Pages.GroupByDate "January" "asc" }}
          <section style="padding: 10px;">
            <h4>{{ .Key }}</h4>
            <ul class = "alt">
              {{ range .Pages.ByDate }}
                <li>
                  <font size="-1">
                    <a href="{{.URL}}">{{.Date.Format "2"}} - {{dateFormat "2" .Params.enddate}}</a>
                  </font>
                </li>
              {{ end }}
            </ul>
          </section>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="image">
    <img src="/img/journal/{{.Params.imgsrc}}" alt="" />
  </div>
</div>
