<div class="banner style1 orient-left onload-image-fade-in" >
  <div class="content">
    <h1>Jerry's Journal</h1>
    <p>One of our family's most bittersweet memories is Papa asking, pen and diary in hand, "What did we do today?" It used to drive us crazy hearing this almost every day, but now his collection of annual journals from from early 1964 onward is a treasured family heirloom. Jerry captured even the most mundane details of daily life, providing a fascinating glimpse into the past.<p>
    <p>Jerry meticulously kept a journal from December 1963 until the last few years of his life. Please take a peek at this fascinating record.</p>
    <div class="inner">
      <header>
        <h3>Journal Pages by Year</h3>
      </header>
      <div class = "table-wrapper">
        <table class="alt">
          <tbody>
            <tr>
              <td>
                <ul style="list-style: none;">
                  <li><a href="/journal/1963/">1963</a></li>
                  <li><a href="/journal/1964/">1964</a></li>
                  <li><a href="/journal/1965">1965</a></li>
                  <li>1967</li>
                  <li>1968</li>
                  <li>1969</li>
                </ul>
              </td>
              <td>
                <ul style="list-style: none;">
                  <li>1970</li>
                  <li>1971</li>
                  <li>1972</li>
                  <li>1973</li>
                  <li>1974</li>
                  <li>1975</li>
                  <li>1976</li>
                  <li>1977</li>
                  <li>1978</li>
                  <li>1979</li>
                </ul>
              </td>
              <td>
                <ul style="list-style: none;">
                  <li>1970</li>
                  <li>1971</li>
                  <li>1972</li>
                  <li>1973</li>
                  <li>1974</li>
                  <li>1975</li>
                  <li>1976</li>
                  <li>1977</li>
                  <li>1978</li>
                  <li>1979</li>
                </ul>
              </td>
              <td>
                <ul style="list-style: none;">
                  <li>1980</li>
                  <li>1981</li>
                  <li>1982</li>
                  <li>1983</li>
                  <li>1984</li>
                  <li>1985</li>
                  <li>1986</li>
                  <li>1987</li>
                  <li>1988</li>
                  <li>1989</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <ul style="list-style: none;">
                  <li>1990</li>
                  <li>1991</li>
                  <li>1992</li>
                  <li>1993</li>
                  <li>1994</li>
                  <li>1995</li>
                  <li>1996</li>
                  <li>1997</li>
                  <li>1998</li>
                  <li>1999</li>
                </ul>
              </td>
              <td>
                <ul style="list-style: none;">
                  <li>2000</li>
                  <li>2001</li>
                  <li>2002</li>
                  <li>2003</li>
                  <li>2004</li>
                  <li>2005</li>
                  <li>2006</li>
                  <li>2007</li>
                  <li>2008</li>
                  <li>2009</li>
                </ul>
              </td>
              <td>
                <ul style="list-style: none;">
                  <li>2010</li>
                  <li>2011</li>
                  <li>2012</li>
                  <li>2013</li>
                  <li>2014</li>
                  <li>2015</li>
                  <li>2016</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="image">
    <img src="{{.Params.imgsrc}}" alt="" />
  </div>
</div>
